* {
  box-sizing: border-box;
}

body {
    background: #298eea;
    font-family: 'Roboto', helvetica, sans-serif;
    padding: 0;
    margin: 0;
    padding-top: 60px;
}

.logo {
  display: block;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.signup-form {
  background-color: white;
  padding: 40px;
  width: 400px;
  border-radius: 5px;
  margin: auto;

}

legend {
  display: block;
  font-weight: 300;
  margin: 0 auto 45px;
  font-size: 35px;
}

label {
  display: block;
  padding: 0px;
  margin-bottom: 15px;
}

input {
  display: block;
  background: #fcfcfc;
  width: 320px;
  height: 55px;
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #e7e7e7;
  margin-bottom: 25px;
}

button {
  display: block;
  width: 320px;
  height: 55px;
  color: white;
  background-color: #15CD72;
  font-size: 22px;
  font-weight: 500;
  padding: 15px;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Specifically referred to solution to add the feature of sign up button changing to different color when hovered over */
button:hover[type='submit'] {
    background-color: #0CB863;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}

.signup-form p, .signup-form a {
  text-align: center;
  font-size: 14px;
  color: #999;
  margin-bottom: 0;
}

.footer {
  text-align: center;
  color: white;
  font-weight: bold;
}

.footer a {
  display: inline-block;
  text-align: center;
  color: white;
}

.footer a:hover {
  color: #E7F1F9
}
